.songItemContainer {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  &:nth-child(odd) {
    background: #f7f7f7;
  }
  &:nth-child(-n + 3) {
    height: 70px;
  }

  :global {
    .song-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 10px;
      img {
        margin-right: 20px;
      }
      .rank-count {
        display: flex;
        justify-content: center;
        flex: 1;
        color: #999;
      }

      .song-info {
        flex: 9;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .font-active {
          font-size: 15px;
          cursor: pointer;
          margin-right: 8px;
        }
        .font-active:active {
          color: #d31111;
        }
        .dr-btn {
          flex: 1;
          text-align: center;
          .btn-group {
            max-width: 79px;
            height: 18px;
            display: none;
            justify-content: space-evenly;
            box-sizing: border-box;
            .btn {
              display: inline-block;
              width: 17px;
              height: 15px;
              cursor: pointer;
              &.add {
                width: 13px;
                height: 13px;
                background: url('/assets/img/sprite_icon2.png') no-repeat 0
                  9999px;
                background-position: 0 -700px;
              }
              &.collect {
                background: url('/assets/img/sprite_table.png') no-repeat 0
                  9999px;
                background-position: 0 -174px;
              }
              &.share {
                background: url('/assets/img/sprite_table.png') no-repeat 0
                  9999px;
                background-position: 0 -194px;
              }
              &.download {
                background: url('/assets/img/sprite_table.png') no-repeat 0
                  9999px;
                background-position: -80px -174px;
              }
            }
          }
          .duration {
            flex: 1;
          }
        }

        &:hover .btn-group {
          display: inline-flex;
        }
        &:hover .duration {
          display: none;
        }
        .left-info {
          display: flex;
          flex: 3;
          align-items: center;
        }
        .left-info > a {
          display: inline-block;
          max-width: 190px;
        }

        .singer {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          flex: 1.5;
        }
        .album {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: 150px;
          flex: 3;
        }
      }
    }
  }
}
