.settleSinger {
  margin-top: 10px;
  :global {
    .singer-container {
      margin: 6px 0 14px 20px;
    }
    .singer-footer {
      a {
        color: #000;
        height: 31px;
        width: 205px;
        box-sizing: content-box;
        display: inline-block;
        text-decoration: none;
        margin-left: 20px;
        align-items: center;
        background: url('/assets/img/sprite_button.png') no-repeat 0 9999px;
        background-position: right -100px;
        padding: 0 5px 0 0;
        border-radius: 4px;
        &:hover {
          background-position: right -182px;
        }
        &:hover i {
          background-position: 0 -141px;
        }
        i {
          display: inline-block;
          box-sizing: content-box;
          padding: 0 15px 0 20px;
          width: 170px;
          height: 31px;
          text-align: center;
          line-height: 31px;
          background: url('/assets/img/sprite_button.png') no-repeat 0 9999px;
          background-position: 0 -59px;
        }
      }
    }
  }
}
