.bannerWrapper {
  width: 100%;
  height: 270px;
  :global {
    .banner {
      position: relative;
      display: flex;
      height: 100%;
      justify-content: space-between;
      .banner-left {
        width: 730px;
        img {
          width: 100%;
        }
      }
      .banner-right {
        width: 250px;
        background: url('/assets/img/download.png');
      }
      .banner-control {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        .btn {
          position: absolute;
          width: 37px;
          height: 63px;
          background-image: url('/assets/img/banner_sprite.png');
          background-color: transparent;
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
          &:nth-child(1) {
            left: -68px;
            background-position: 0 -360px;
          }
          &:nth-child(2) {
            right: -68px;
            background-position: 0 -508px;
          }
        }
      }
    }
  }
}
